.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-primary);
  color: var(--text-color);
  height: 100vh;
  min-width: 375px;
  padding: 30px 10px 10px 10px;
  border-right: 1px solid var(--black-color);
  position: sticky;
  transition: all 0.4s ease;
  top: 0;
  left: 0;
}
.swapSize {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  right: -13px;
  top: 50px;
  background-color: var(--background-primary);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
  }
}

.small {
  min-width: 90px;
}

.active {
  transform: rotate(180deg);
}

.main {
  display: flex;
  flex-direction: column;
}
