.newsCard-MeetTheFounder {
	background-color: var(--dark-color);
	color: var(--white-color);
	position: relative;
	padding: 10px;
}

.title-MeetTheFounder {
	font-weight: 800;
	max-width: 80%;
}

.date-MeetTheFounder {
	font-size: 12px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.body-MeetTheFounder {
	display: flex;
	gap: 10px;
}
.anons-MeetTheFounder {
	width: 40%;
	font-size: 14px;
	margin-top: 10px;
	-webkit-line-clamp: 14;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.preview-MeetTheFounder {
	width: 60%;
	height: 250px;
	margin-top: -10px;
	object-fit: cover;
}
