.newsCard-StrategyCard {
	background-color: var(--dark-color);
	color: var(--white-color);
	position: relative;
	padding: 0px 10px 10px 10px;
	object-position: top;
}

.preview-StrategyCard {
	width: 100%;
	object-fit: cover;
	height: 200px;
}
.relative {
	position: relative;
}
.date-StrategyCard {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: var(--white-color);
	color: var(--dark-color);
	border-radius: 12px;
	font-size: 12px;
	padding: 4px 8px;
}

.anons-StrategyCard {
	font-size: 14px;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
