.image {
	object-fit: contain;
}

.card {
	border-radius: 20px;
	padding: 3rem 4rem;
	color: var(--text-color);
	border: 1px solid var(--border-color);
	background-color: var(--card-BG-color);
}
@media screen and (max-width: 760px) {
	.card {
		text-align: center;
		padding: 1rem 2rem;
	}
}
