*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Colors */
	--white-color: #fff;
	--black-color: #000;
	--dark-color: rgb(42, 42, 42);
	--light-color: rgb(228, 225, 219);
	--light-green-color: rgb(113, 171, 168);
	--blue-dark-color: rgb(22, 36, 47);
	--biege-color: rgb(212, 171, 138);
	--blue-light-color: rgb(54, 167, 198);
	--pink-light-color: rgb(254, 156, 161);
	/* Radius */
	--border-radius-ios: 17.544%;

	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--primary-glow: conic-gradient(
		from 180deg at 50% 50%,
		#16abff33 0deg,
		#0885ff33 55deg,
		#54d6ff33 120deg,
		#0071ff33 160deg,
		transparent 360deg
	);
	--secondary-glow: radial-gradient(
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);

	--tile-start-rgb: 239, 245, 249;
	--tile-end-rgb: 228, 232, 233;
	--tile-border: conic-gradient(
		#00000080,
		#00000040,
		#00000030,
		#00000020,
		#00000010,
		#00000010,
		#00000080
	);

	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: var(--white-color);
}
main {
	width: calc(100% - 400px);
	padding: 10px;
	margin-left: auto;
}
