*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gap: 0.5em;
  --index: calc(1vw+1vh);
  --color-dark: #000;
  /* Light Theme */

  --light-color: rgb(243, 243, 243);
  /* Dark Theme */
  --dark-color: rgb(42, 42, 42);

  /* Colors */
  --white-color: #fff;
  --black-color: #000;

  --light-green-color: rgb(113, 171, 168);
  --blue-dark-color: rgb(22, 36, 47);
  --biege-color: rgb(212, 171, 138);
  --blue-light-color: rgb(54, 167, 198);
  --pink-light-color: rgb(254, 156, 161);
  /* Radius */
  --border-radius-ios: 17.544%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  min-height: 100vh;
}

body {
  background-color: var(--black-color);
  background-image: url("/assets/BG.png");
  overflow-x: hidden;
  -webkit-backdrop-filter: blur(55px);
  backdrop-filter: blur(55px);
  object-fit: contain;
}

.content {
  display: block;
  width: calc(100% - 325px);
  margin-left: auto;
  padding: 30px 50px;
  color: white;
}

a {
  color: var(--blue-light-color);
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: var(--blue-light-color);
    transition: all 0.3s ease;
  }
  &:hover::after {
    width: 100%;
  }
}
