/* np */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gap: 0.5em;
  --index: calc(1vw+1vh);
  --gradient-to-right: linear-gradient(to right, #0680ba, #d34b7b, #dc4454)
    border-box;
  --gradient-to-top: linear-gradient(to top, #0680ba, #d34b7b, #dc4454)
    border-box;
  /* Оранжевый */
  --dark-orange: rgb(234 88 12);
  --light-orange: rgb(251 146 60 / 20%);
  /* Зеленый */
  --dark-green: rgb(251 146 60 / 20%);
  --light-green: rgb(34 197 94 / 10%);
  --basic-green: rgb(74 222 128);
  /* Фиолетовый */
  --primary-color: rgb(74 222 128);
  --current-color: rgb(84 81 255);
  --current-hover-color: rgba(84, 81, 255, 0.864);
  /* Темная */
  --dark-bg-color: rgb(18 19 22);
  --dark-wrapper-darkest-color: rgb(24 26 32);
  --dark-wrapper-color: rgb(24 26 32);
  --dark-hover-color: rgb(37 39 50);
  --dark-light-text-color: rgb(209 214 235);
  --dark-medium-text-color: rgb(144 149 173);
  --dark-link-color: rgb(161 161 170);
  --dark-first-impulse: rgb(45 48 61 / 90%);
  --dark-second-impulse: rgb(45 48 61 / 50%);
  --dark-third-impulse: rgb(45 48 61 / 30%);
  --dark-border-color: rgb(37 39 50);

  /* Светлая */
  --light-bg-color: rgb(243 244 246);
  --light-wrapper-color: rgb(225, 221, 221);
  --light-hover-color: rgb(210, 210, 225);
  --light-light-text-color: rgb(31 41 55);
  --light-medium-text-color: rgb(75 85 99);
  --light-link-color: rgb(31 41 55);
  --light-first-impulse: rgb(156 163 175 / 30%);
  --light-second-impulse: rgb(156 163 175 / 20%);
  --light-third-impulse: rgb(156 163 175 / 10%);
  --light-border-color: rgb(181, 182, 183);
}

/* [data-theme="light"] {
  --background-primary: var(--light-color);
  --text-color: var(--light-text-color);
  --glass-color: var(--light-glass-color);
  --hover-color: var(--light-hover-color);
} */

[data-theme="dark"] {
  --background-primary: var(--dark-bg-color);
  --wrapper-color: var(--dark-wrapper-color);
  --wrapper-contrast-color: var(--dark-wrapper-darkest-color);
  --light-text-color: var(--dark-light-text-color);
  --medium-text-color: var(--dark-medium-text-color);
  --hover-color: var(--dark-hover-color);
  --border-color: var(--dark-border-color);
}

[data-theme="light"] {
  --background-primary: var(--light-bg-color);
  --wrapper-color: var(--light-wrapper-color);
  --wrapper-contrast-color: var(--light-wrapper-color);
  --light-text-color: var(--light-light-text-color);
  --medium-text-color: var(--light-medium-text-color);
  --hover-color: var(--light-hover-color);
  --border-color: var(--light-border-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  min-height: 100vh;
}
body {
  background-color: var(--background-primary);
}
.row {
  display: flex;
  gap: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.mt30 {
  margin-top: 30px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}

.mb30 {
  margin-bottom: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}

.w100 {
  width: 100% !important;
}
.w50 {
  width: 50% !important;
}

.wrap {
  background-color: var(--wrapper-color);
  padding: 20px;
  border-radius: 10px;
}

.linkButton {
  padding: 10px 15px;
  background-color: var(--current-color);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: var(--light-text-color);
  &:hover {
    background-color: var(--current-hover-color);
  }
}
