.header {
	width: 100%;
	backdrop-filter: blur(50px);
	z-index: 20;
	color: var(--text-color);
	padding: 0rem 6rem;
	position: relative;
}
.content {
	display: flex;
	align-items: center;

	left: 0;
	top: 0;
	width: 100%;

	justify-content: space-between;
	max-width: 1430px;
	padding: 10px 0px;
}
.menu__list {
	display: flex;
	gap: 40px;
}

.header__logo {
	width: 70px;
	height: 70px;
}

.addons {
	display: flex;
	align-items: center;
	gap: 30px;
}
.hamburger {
	display: none;
	width: 25px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

.line {
	width: 25px;
	height: 1px;
	position: relative;
	background-color: var(--text-color);
}

.line::after,
.line::before {
	content: '';
	left: 0;
	width: 25px;
	height: 1px;
	position: absolute;
	background-color: var(--text-color);
	transition: all 0.4s ease;
}
.line::after {
	top: -9px;
}
.line::before {
	top: 9px;
}
.activeMenu {
	width: 0;
}
.activeMenu::after {
	top: 0px;
	transform: rotate(45deg);
	transition: all 0.4s ease;
}
.activeMenu::before {
	top: 0px;
	transform: rotate(-45deg);
	transition: all 0.4s ease;
}
.right_panel {
	display: flex;
	gap: 150px;
	align-items: center;
}
@media screen and (max-width: 1200px) {
	.right_panel {
		gap: 75px;
	}
}
@media screen and (max-width: 1000px) {
	.right_panel {
		gap: 15px;
	}
}
@media screen and (max-width: 970px) {
	.hamburger {
		display: block;
	}
	.mobile__menu {
		flex-direction: column;
		position: absolute;
		background-color: var(--card-BG-color);
		right: -100%;
		top: 0;
		width: 70%;
		padding: 20px;
		height: 100vh;
	}
	.menu__list {
		flex-direction: column;
	}
	.nav {
		width: 100%;
		margin-top: 20px;
	}
	.addons {
		width: 100%;
		margin-top: 30px;
	}
	.showMobileMenu {
		right: -15px;
		transition: all 0.4s ease;
	}
}
@media screen and (max-width: 800px) {
	.header {
		padding: 0 10px;
	}
}
