.filter {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
}
.filterItem {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 10px 0;
  cursor: pointer;
  font-size: 14px;
  color: var(--medium-text-color);
}
.filterItem:hover {
  border-bottom: 2px solid var(--light-text-color);
  color: var(--light-text-color);
}
