.form {
  color: var(--white-color);
  margin: auto;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  position: relative;
}
.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
