.textarea {
  width: 100%;
  min-height: 100px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  resize: vertical;
  border-radius: 10px;
  outline: none;
}
.label {
  color: var(--medium-text-color);
  font-size: 12px;
  margin-bottom: 3px;
  caret-color: transparent;
}
