.card {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	border-radius: 20px;
	padding: 2rem 1rem;
	color: var(--text-color);
	border: 1px solid var(--border-color);
	background-color: var(--card-BG-color);
}

.image {
	filter: invert();
	object-fit: cover;
	width: 32px;
	height: 32px;
	mix-blend-mode: exclusion;
}
.text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.title {
	font-size: 1rem;
}
.description {
	line-height: 1.5rem;
	color: var(--gray-color);
}
@media screen and (max-width: 960px) {
	.card {
		min-height: 200px;
	}
}
