.main {
  padding-left: 80px;
  background-color: var(--dark-bg-color);
  padding-right: 80px;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.col {
  display: flex;
  padding-left: 50px;
  width: 100%;
  flex-direction: column;
}
.content {
  margin-top: 100px;
  margin-left: 260px;
}
