.primary {
  display: inline-block;
  margin: auto;
  color: var(--white-color);
  background-color: transparent;
  padding: 10px 10px;
  width: 220px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #424242;
    height: 3px;
    transition: all 0.4s ease;
  }
  &:hover::after {
    width: 100%;
  }
}

.secondary {
  display: block;
  cursor: pointer;
  font-weight: 600;
  color: var(--light-text-color);
  padding: 8px 16px;
  background-color: var(--current-color);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--current-hover-color);
  }
}
