.link {
	display: block;
	font-size: 18px;
	gap: 15px;
	text-decoration: none;
	color: var(--dark-color);
	padding: 15px 10px 15px 20px;
	overflow: hidden;

	align-items: center;
}

.icon {
	display: inline-block;
}

.nav {
	margin-top: 50px;
}

.linkList {
	list-style: none;
	display: flex;
	position: relative;
	flex-direction: column;
}

.link:hover {
	background-color: var(--light-color);
	border-radius: 10px;
}

.label {
	position: absolute;
	width: max-content !important;
	left: 60px;
}
.icon > svg {
	transform: scale(1.15);
}
.small {
	display: none;
	position: absolute;
	overflow: hidden;
	right: -20px;
}

.fixPadding {
	padding: 15px 20px;
	width: max-content;
}
