.preview__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.text {
	max-width: 700px;
}
.title {
	color: var(--text-color);
	font-size: 4.3rem;
	font-weight: 700;
}
.description {
	color: var(--gray-color);
	margin-top: 30px;
	line-height: 1.5rem;
	font-weight: 500;
	font-size: 1.125rem;
}

.links {
	margin-top: 40px;
	color: var(--text-color);
	display: flex;
	gap: 30px;
	align-items: center;
}

.login {
	font-weight: bold;
	background-color: var(--primary-color);
	padding: 10px 15px;
	border-radius: 7px;
}
.more {
	font-weight: 600;
	position: relative;
}

.more::after {
	content: url('/rArrow.svg');
	filter: invert();
	position: absolute;
	width: 20px;
	height: 20px;
	right: -30px;
	top: 0;
}

@media screen and (max-width: 1400px) {
	.title {
		color: var(--text-color);
		font-size: 2.3rem;
		font-weight: 700;
	}
	.image {
		width: 50%;
	}
}
@media screen and (max-width: 900px) {
	.preview__wrapper {
		flex-direction: column-reverse;
	}
	.image {
		height: auto;
		margin-bottom: 30px;
		width: 100%;
	}
	.links {
		justify-content: center;
	}
	.text {
		text-align: center;
	}
}
@media screen and (max-width: 530px) {
	.links {
		flex-direction: column;
	}
	.log_wrap,
	.login {
		display: block;
		padding: 1rem 0;
		width: 100%;
	}
}
