.header {
  display: flex;
  align-items: center;
}
.header__slogan {
  display: flex;
  flex-direction: column;
}
.name {
  color: var(--light-text-color);
}
.slogan {
  font-size: 12px;
  font-weight: 500;
  color: var(--medium-text-color);
}
