.faqItem {
  backdrop-filter: blur(20px);
  border: 1px solid var(--blue-dark-color);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #403e3e32;
  }
}
.faqQuestion {
  display: flex;
  justify-content: space-between;
}

.arrowActive {
  transition: all 0.4s ease;
  transform: rotate(90deg);
}

.faqAnswer {
  padding-top: 20px;
}
