.slider__item {
	max-height: 75vh;
	overflow: hidden;

	transition: var(--transition);
}
.slider__wrapper {
	height: auto;
}
.swiper,
.swiper-wrapper {
	height: auto !important;
}

.slider__img {
	width: 500px !important;
	height: 500px !important;
	object-fit: cover;
}
