.input {
  display: none;
}
.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  color: var(--light-text-color);
  padding: 8px 16px;
  background-color: var(--current-color);
  border: none;
  caret-color: transparent;
  border-radius: 5px;

  transition: all 0.3s ease;
  &:hover {
    background-color: var(--current-hover-color);
  }
}
.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
