.preview {
	height: 100vh;
	text-align: center;
	width: 100%;
	max-width: 600px;
	padding-top: 20%;
}

.title {
	font-size: 3.5rem;
	color: var(--text-color);
	text-align: center;
	font-weight: bolder;
}
.text {
	margin-top: 20px;
	color: rgb(156 163 175);
	line-height: 1.55rem;
	font-size: 1.1rem;
}

@media screen and (max-width: 460px) {
	.title {
		font-size: 2rem;
	}
}
